@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* fonts */
  --poppins-font: "Poppins", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Body */
body {
  line-height: 1.5;
  font-family: var(--poppins-font);
}

/* Container */

.container-box {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-inline: auto;
}

/* Media Queries */

@media (max-width: 1536px) {
  .container-box {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container-box {
    max-width: 1024px;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

@media (max-width: 1024px) {
  .container-box {
    max-width: 768px;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .resources-section h2 {
    font-size: 80px;
  }
}
@media (max-width: 780px) {
  .container-box {
    max-width: 750px;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .content h2 {
    font-size: 40px;
  }
}

@media (max-width: 640px) {
  .container-box {
    max-width: 475px;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .content h2 {
    font-size: 30px;
  }
}

@media (max-width: 475px) {
  .container-box {
    width: 100%;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .content h2 {
    font-size: 25px;
  }
  .content p {
    font-size: 20px;
  }
}
